services:
  - type: web
    name: location-tracker
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
    autoDeploy: true
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache
